/*body*/
body{ font-family: 'Lato', sans-serif; }
.menu{ font-family: 'Raleway', sans-serif; color: #a3a3a3; }
/*end-body*/
/*theme*/
.th-header{background-color: #fff;}
.th-header-p{padding-right: 5%;padding-left: 5%;}
.th-gap{height: 50px;}
.th-font{color: #a3a3a3;}
i{color: #a3a3a3;font-size: 18px !important;}
.badge{background-color: #a3a3a3;}
.th-pad{padding-right: 5%;padding-left: 5%;}
/*endtheme*/
/*button*/
.btn{border-radius: 0px;}
.th-btn{ color: #fbfbfb; font-size: 1.2em; background-color: #000; height: 60px; padding-left: 50px; padding-right: 50px;font-weight: 300; }
/*end-button*/
/*headings*/
h1{font-family: 'Raleway', sans-serif; font-size: 4em; color: #a3a3a3; font-weight: 300;}
h2{font-family: 'Raleway', sans-serif; font-size: 2em; color: #a3a3a3; font-weight: 300;}
.th-bold{font-weight: 800;}
p{font-size: 1.1em; font-weight: 400; line-height: 1.5em;  color: #a3a3a3;}
.footer a{ font-family: 'Raleway', sans-serif; color: #a3a3a3; }
.footer i{color: #a3a3a3;font-size: 14px !important;}
.footer{background-color: #f9f9f9;}
.rate{ font-weight: 300; line-height: 1.5em;  color: #a3a3a3; font-size: 1em;}
.vr-txt { transform: rotate(90deg); position: absolute; right: 0; top: 40%;}
/*headings end*/
.cover-img{ padding: 0; background-size: cover; background-position: center; background-repeat: no-repeat; }
.tile{ padding: 5%; }

.menu {
    vertical-align: top;
    padding-top: 25%;
    display: inline-block;
    margin: 10px ;
}
.menu-item {
    background-color: #fff;
    width: 200px;
    height: 150px;
    margin: 10px;
}

.header-item {
    letter-spacing: 2px;
    text-transform: capitalize;
    color: #000000  ;
    font-size: 1em;
    padding: 15px 15px;
}

.color-row1,  .color-row2  {
    margin: 15px;
    padding:0;
    max-width: 220px;
}

.color-circle {
    max-width: 220px;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50px 50px 50px 50px;
    
}

.mini-menu{
    width: 200px;
    border-radius: 3px;
    box-shadow:0 0 8px rgba(0, 0, 0, 0.06);
    overflow: hidden;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #848C8F ;
    font-size: 11px;
    margin: 10px;
}
.mini-menu ul {
    list-style: none;
    margin: 0;
    padding:0;
    text-align:left;
}
.mini-menu > ul > li {
    position: relative;
}
.mini-menu > ul > li > a {
    display: block;	
    outline: 0;	
    padding: 1.2em 1em;	
    text-decoration: none;	
    color:#3C3D41;	
    font-weight: normal;
    letter-spacing: 2px;	
    background: #FEFEFE;
    border-bottom: 1.5px solid #EAEAEA;
   
}

.mini-menu .sub > ul {
    height: 0;
    overflow: hidden;
    background: #848C8F;
}
.mini-menu .sub > ul > li > a {
    font-family:  sans-serif;
    color:#FEFEFE;
    font-size: 12px;
    display: block;
    text-decoration: none;
    padding: .7em 1em;
    text-transform: capitalize;
    font-style: normal; 
    letter-spacing: 1px;
}
/*.mini-menu .sub > ul > li > a:hover,*/
.mini-menu .sub > a.active,
 {
    padding-left: 1.3em;
    color: blue;
    content: "1";
    float: right;
    margin-right:6px;
    line-height: 12px;
}
.mini-menu .sub >  a:after{
    content: "V";
    float: right;
    margin-right:6px;
    line-height: 12px;
}