/*body*/
body{ font-family: 'Lato', sans-serif; }
.menu{ font-family: 'Raleway', sans-serif; color: #a3a3a3; }
/*end-body*/
/*theme*/
.uc{text-transform: capitalize;}
.th-header{background-color: #fff;}
.th-header-p{padding-right: 5%;padding-left: 5%;}
.th-gap{height: 50px;}
.th-font{color: #a3a3a3;}
i{color: #a3a3a3;font-size: 18px !important;}
.badge{background-color: #a3a3a3;}
.th-pad{padding-right: 5%;padding-left: 5%;}
/*endtheme*/
/*button*/
#addcartbtn{background-color: #000;color: #fbfbfb !important;font-family: 'Raleway', sans-serif; border: none;}
.btn{border-radius: 0px;}
.th-btn{ color: #fbfbfb; font-size: 1.2em; background-color: #000; height: 60px; padding-left: 50px; padding-right: 50px;font-weight: 300; }
.th-btn-sm{ color: #a3a3a3 !important; font-size: 1em; height: 40px; padding-left: 15px; padding-right: 15px; font-weight: 300; }
.th-btn-inv{ padding: 0 20px; font-family: 'Raleway', sans-serif; color: #a3a3a3 !important; font-size: 1em; font-weight: 300; height: 40px; background-color: #fff; border: 1px solid #a3a3a3; }
.btn:active, .btn.active{ background-color: #000; }
.hdr{ font-size: 1.3em; padding-top: 5px;}
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus { outline: none; }
.th-form{ padding: 25px; margin: 5px 0;}
button:focus { outline: none; }
/*end-button*/
/*headings*/
h1{font-family: 'Raleway', sans-serif; font-size: 4em; color: #a3a3a3; font-weight: 300; text-transform: capitalize; }
@media screen and (max-width: 768px)
{
    h1{font-size: 3em;}
}
h2{font-family: 'Raleway', sans-serif; font-size: 2em; color: #a3a3a3; font-weight: 300; text-transform: capitalize; }
.th-bold{font-weight: 800;}
h3{font-family: 'Raleway', sans-serif; font-size: 1.5em; color: #a3a3a3; font-weight: 500; text-transform: capitalize; }
.th-bold{font-weight: 800;}
p{font-size: 1.1em; font-weight: 400; line-height: 1.5em;  color: #a3a3a3; }
a:focus { outline: none; }
a:hover, a:focus { color: #000; text-decoration: none;}
.pral{ font-size: 1.1em; font-family: 'Raleway', sans-serif; color: #a3a3a3; }
.hitem{ font-size: 1.2em; font-family: 'Raleway', sans-serif; color: #000; font-weight: 300; }
.footer a{ font-family: 'Raleway', sans-serif; color: #a3a3a3; }
.footer i{color: #a3a3a3;font-size: 14px !important;}
.footer{background-color: #f9f9f9;}
.txtny{background-color: #f9f9f9; padding-top: 5%; padding-bottom: 5%;}
.rate{ font-weight: 300; line-height: 1.5em;  color: #a3a3a3; font-size: 1em;}
.vr-txt { transform: rotate(90deg); position: absolute; right: 0; top: 40%;}
/*headings end*/
.cover-img{ padding: 0; background-size: cover; background-position: center; background-repeat: no-repeat; }
.tile{ padding: 5%; text-decoration: none;}
.tile:hover{box-shadow: 0 0 20px grey;}
.tile a{ text-decoration: none;}
.mini-menu li{list-style: none;}
.color-square { display: inline-block; width: 30px; height: 30px; border-radius: 0; cursor: pointer; padding: 0; margin: 0; }
.color-square:hover{box-shadow: 0 0 10px grey;}
.container:hover{color: #000;}

/* checkout page */
.clps { border: solid 1px #a3a3a3;  padding: 15px; margin: 15px 0;}
.clpsb { border: solid 1px #a3a3a3; padding: 0 0 15px 0; margin: 15px 0;}
.clpsi { border: solid 1px #a3a3a3; margin-top: 15px; padding: 15px;}
.nm{margin: 0; padding: 15px; background-color: black; color: white; font-size: 1.4em; font-weight: 300;}
.cbtn{ float: right; margin: 0; }
/* end checkout page */

/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 0;
    cursor: pointer;
    font-size: 1em; font-family: 'Raleway', sans-serif; color: #a3a3a3; font-weight: 300;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: .8em;
    width: .8em;
    background-color: #fff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}
/* Style the checkmark/indicator */
.container .checkmark:after {
    left: .9em;
    width: .5em;
    height: 1em;
    border: solid #ed1d2e;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.top1 
{
  position: relative;
  top:0; right:0;
  bottom:0; left:0;
}

.left
{
  position: relative;
  display:block;
  border:none;background-position: 100% 50%;right:0;
}

.carousel-inner > .item > .left,
.carousel-inner > .item > .right{
  display: block;
  max-width: 100%;
  height: auto;
}
.carousel-inner > .item > .left,
.carousel-inner > .item > a > .right {
  line-height: 1;
}
.vertical .carousel-inner {
  height: 100%;
}

.carousel.vertical .item {
  -webkit-transition: 0.6s ease-in-out top;
     -moz-transition: 0.6s ease-in-out top;
      -ms-transition: 0.6s ease-in-out top;
       -o-transition: 0.6s ease-in-out top;
          transition: 0.6s ease-in-out top;
}
@media all and (transform-3d),
(-webkit-transform-3d) {
  .carousel.vertical  .item {
    -webkit-transition: -webkit-transform .6s ease-in-out;
    -o-transition: -o-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
  }
  .carousel.vertical  .item.next,
  .carousel.vertical  .item.active.right {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    top: 0;
  }
  .carousel.vertical  .item.prev,
  .carousel.vertical  .item.active.left {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    top: 0;
  }
  .carousel.vertical  .item.next.left,
  .carousel.vertical  .item.prev.right,
  .carousel.vertical  .item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    top: 0;
  }
}
.carousel.vertical .active {
  top: 0;
}

.carousel.vertical .next {
  top: 100%;
}

.carousel.vertical .prev {
  top: -100%;
}

.carousel.vertical .next.left,
.carousel.vertical .prev.right {
  top: 0;
}

.carousel.vertical .active.left {
  top: -100%;
}

.carousel.vertical .active.right {
  top: 100%;
}

.carousel.vertical .item {
    left: 0;
}
