/*body*/
body{ font-family: 'Raleway', sans-serif; }
/*end-body*/
/*theme*/
.th-header{background-color: #fff;}
.th-header-p{padding-right: 5%;padding-left: 5%;}
.th-gap{height: 50px;}
.th-font{color: #a3a3a3;}
.th-bg-color{}
i{color: #a3a3a3;font-size: 18px !important;}
.badge{background-color: #a3a3a3;}
.th-pad{padding-right: 5%;padding-left: 5%;}

/*endtheme*/
/*button*/
.btn{border-radius: 0px;}
.th-btn{ color: #fbfbfb; font-size: 1.2em; background-color: #000; height: 60px; padding-left: 50px; padding-right: 50px;font-weight: 300; }
/*end-button*/
/*headings*/
h1{font-size: 4em; color: #a3a3a3; font-weight: 300;}
h2{font-size: 2em; color: #a3a3a3; font-weight: 300;}
.th-bold{font-weight: 800;}
p{font-size: 1.1em; font-weight: 500; line-height: 1.5em;  color: #a3a3a3;}
.rate{font-family: 'Lato', sans-serif; font-weight: 300; line-height: 1.5em;  color: #a3a3a3; font-size: 1em;}
.vr-txt { transform: rotate(90deg); position: absolute; right: 0; top: 40%;}
/*headings end*/
.cover-img{ padding: 0; background-size: cover; background-position: center; background-repeat: no-repeat; }
